<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>
				{{ title }}
			</title>
		{% endblock %}
		<link rel="stylesheet" href="../css/style.css">
	</head>

	<body>
		{% include 'header.twig' %}
		<h1>
			{{ title }}
		</h1>
		{% for project in projects %}
			<form action="/project/{{project.id}}" method="post">
				<p>{{project.client}}</p>
				<div>
					<input type="hidden" name="id" value="{{project.id}}">
					<input type="submit" value="Изменить">
					<input class="delete-project-check" type="button" value="Удалить">
				</div>
				<div class="delete-project-modal">
					<input type="submit" value="Удалить" name="delete-project">
				</div>
			</form>
		{% endfor %}
		<script src="../js/main.js"></script>
	</body>

</html>
