<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>
				{{ title }}
			</title>
		{% endblock %}
	</head>

	<body>
		{% include 'header.twig' %}
		<h1>
			{{ title }}
		</h1>


		<form action="/form" method="post" enctype="multipart/form-data">
			{% for project in project %}
				<input type="text" readonly name="id" value="{{project.id}}">
				<input type="text" name="client" value="{{project.client}}">
				<input type="text" name="industry" value="{{project.industry}}">
				<input type="text" name="title" value="{{project.title}}">
				<input type="text" name="services_1" value="{{project.services_1}}">
				<input type="text" name="services_2" value="{{project.services_2}}">
				<input type="text" name="services_3" value="{{project.services_3}}">
				<input type="text" name="services_4" value="{{project.services_4}}">
				<input type="text" name="year" value="{{project.year}}">
				<input type="text" name="description" value="{{project.description }}">
				<input type="text" name="link" value="{{project.link}}">
				<input type="text" name="video" value="{{project.video}}">
				<input type="text" name="orientation" value="{{project.orientation}}">
				<input type="text" name="home_page" value="{{project.home_page}}">
				<input type="text" name="video_1" value="{{project.video_1}}">
				<input type="text" name="video_2" value="{{project.video_2}}">
				<input type="text" name="video_3" value="{{project.video_3}}">
				<input type="text" name="video_4" value="{{project.video_4}}">
			{% endfor %}
			<input type="submit" value="Обновить" name="update-project">
		</form>

	</body>

</html>
